*{

}

.logo{

}

.first {
    vertical-align: top;
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #002366;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
   
  }
  
  .first li {
    float: left;
   
  }
  
  .first li a {
    display: block;
  
    text-align: center;
    padding: 14px 16px;

    color: #fff;
    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
    transition: text-decoration-color 300ms;
   
  }
  
  /* Change the link color to #111 (black) on hover */
  .first li a:hover {
    --offset: 0.4em;
  text-decoration-color: 	#00bfff;
    
  }

  .image{
    background-color: #004f98;
    top: 0;
    left: 0;
    bottom: 7px;
    width: 100%;
    
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .mat-toolbar{
    background-color: rgb(6, 24, 58);
    color: white;
  }
  .mat-button{
     color:rgb(13, 196, 241) ;
     
  }

  .mat-button:hover{
    color:#dbddfa ;
    font-weight: bolder;
    opacity: 1 ;
    

    
 }
  .spacer{
    flex: 1 1 auto;
    font-weight: bold;
  }

  